.bio {
	height: 100vh;
}

.bio-dark {
	background-color: var(--second-bg-color);
	color: var(--primary-bg-color-alpha);
}

.bio-light {
	background-color: var(--primary-bg-color);
	color: var(--secundary-color);
}
