.bio {
	 
	padding-top: 6rem;
}

.bio-dark {
	background-color: var(--second-bg-color);
	color: var(--primary-bg-color);
}

.bio-light {
	background-color: var(--primary-bg-color);
	color: var(--second-bg-color);
}
