@import "./styles/variables.css";
@import "./styles/font.css";

html {
	scroll-behavior: smooth;
}

h1 {
	font-family: "ebold";
	font-size: 3rem;
}

h2 {
	font-family: "bold";
	font-size: 2.53rem;
}

h3 {
	font-family: "bold";
	font-size: 2.53rem;
}

h4 {
	font-family: "light";
	font-size: 2.53rem;
}

h5 {
	font-family: "bold";
	font-size: 2.53rem;
}

a {
	color: var(--primary-bg-color);
}

p {
	font-family: "light";
	font-size: 1.2rem;
}

.app-dark {
	background-color: black;
}

.app-light {
	background-color: white;
}







