.nav {
	width: 100%;
}

.nav-ul {
	 
	font-size: 1.3rem;
	font-family: "light";
	display: flex;
	width: 100%;
	justify-content: center;
}

.nav-li {
	margin-left: 1rem;
	margin-right: 1rem;
	padding-bottom: 1rem;
}

.nav-li-dark {
	background-color: var(--second-bg-color);
	color: var(--primary-bg-color);
}

.nav-li-light {
	background-color: var(--primary-bg-color);
	color: var(--secundary-bg-color);
}

.nav-li:hover {
	cursor: pointer;
}

.nav-li-active {
	font-weight: bold;
	
}

.nav-li-active-dark {
	border-bottom: 0.1rem var(--primary-bg-color) solid;
}

.nav-li-active-light {
	border-bottom: 0.1rem var(--secundary-color) solid;
}
